$def with (categories,series,url,product_name)
<script src="/static/js/highcharts.js"></script>
<script type="text/javascript">
jQuery(function () {
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: '近一周价格曲线'
    },
    xAxis: {
        categories: [$categories]
    },
    yAxis: {
        title: {
            text: '价格 (人民币/元)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: false
        }
    },
    series: [{
	name: '日期',
        data: [$series]
    }]
});
});
</script>
<div class="row">
    <div class="col-lg-12">    
    <blockquote>
	<a href=$url>   
        <p>$product_name</p>
	</a>
        <small>
	    <p>网址  $url</p>
	    <p>最新价格(人民币)  ￥$series.split(',')[-1]元</p>
        </small>
    </blockquote>
    <hr size=10>
    <div id="container"></div>
    </div>
</div>
